<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

{{myRand}}  <br>

<ion-item>
   <ion-label>Input Angka : </ion-label>
   <ion-input [(ngModel)]="angka"></ion-input>
</ion-item>

 <ion-button expand="full" (click)="cek()">Cek</ion-button>
 <p *ngIf="bo==1">
 <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let isiFoto of fotoService.dataFoto; index as position">
        <ion-img [src]="isiFoto.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

 </p>
 <p *ngIf="bo==0">Salah</p>
</ion-content>
